body {
    background-image: linear-gradient(180deg, rgba(202,238,255,0.5), rgba(70,195,255,0.25));
}

.container {
    position: relative;
    top: 12em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 30em;
    max-width: 40em;
    background-color: #FFF6F2;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.125em;
    padding: 2em 1em 1em 1em;
}

.container i {
    font-size: 1.5em;
    border: 0.025em solid #141516;
    padding: 0.25em 0.375em;
    border-radius: 100%;
    background-color: #50ABFF;
    color: #141516;
}

.container i:hover {
    background-color: #188FFF;
    transition: 0.25s ease;
    cursor: pointer;
}

.search-employees {
    text-decoration: underline;
}

.search-employees:hover {
    color: #188FFF;
}

.container h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.container p {
    text-align: center;
}

.error-message {
    color: #FF2020;
}

.button-container {
    text-align: center;
}

.button-container a {
    min-width: 7.5em;
    width: 25%;
    display: inline-block;
    margin: 2em 5% 0 5%;
    background-color: #50ABFF;
    padding: 0.75em 0;
    text-align: center;
    border: 0.075em solid #141516;
    border-radius: 2em;
    outline: none;
}

.button-container a:hover {
    background-color: #188FFF;
    transition: 0.25s ease;
    cursor: pointer;
}

form {
    border-bottom: 0.075em solid #000000;
    margin: 1em 0;
    padding-top: 1em;
    border-top: 0.075em solid #000000;
}

form label, form input {
    margin: 0.25em 12.5%;
}

form input {
    display: block;
    width: 75%;
    padding: 0.25em 0.5em;
    margin-bottom: 1em;
}

input:focus {
    background-color: #F9F9F9;
}

form button {
    display: block;
    margin: 2em auto 1em auto;
    background-color: #50ABFF;
    padding: 0.75em 2em;
    text-align: center;
    border: 0.075em solid #141516;
    border-radius: 2em;
    outline: none;
}

form button:hover {
    background-color: #188FFF;
    transition: 0.25s ease;
    cursor: pointer;
}

.employee-container {
    padding: 0.5em;
    margin-bottom: 0.125em;
    background-color: #50ABFF;
    border: 0.05em solid black;
    border-radius: 0.75em;
}

.employee-container:hover {
    background-color: #188FFF;
    transition: 0.25s ease;
    cursor: pointer;
}

.employee-container h2 {
    display: inline-block;
    margin-right: 2em;
}

.employee-no-results {
    padding: 0.5em;
    margin-bottom: 0.125em;
    background-color: #50ABFF;
    border: 0.05em solid black;
    border-radius: 0.75em;
    text-align: center;
}

.employee-container p {
    text-align: left;
}

@media screen and (max-width: 520px) {
    .container {
        min-width: 90%;
    }
}