body {
    background-image: linear-gradient(180deg, rgba(202,238,255,0.5), rgba(70,195,255,0.25));
}

/* Positions the cards in a way that the spacing between the cards is equidistant. */
/* When a card is hovered cover, it will appear bigger and slightly enlarged. */
/* When the screen is small enough, the cards will be layed out vertically */
.column {
    position: relative;
    float: left;
    left: 0.5%;
    top: 22.5vh;
    width: 33%;
}

.card {
    margin: 0 auto;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    max-width: 22.5em;
    width: 90%;
    border-radius: 0.25em;
    cursor: pointer;
    background-color: #FFF6F2;
}
  
.card:hover {
    box-shadow: 0 0.5em 1em 0.25em rgba(0, 0, 0, 0.3);
    width: 92.5%;
    max-width: 23em;
    transition: 0.3s ease;
}
  
.card img {
    border-radius: 0.25em 0.25em 0 0;
}
  
.card .container {
    text-align: center;
    padding: 0.75em 0.5em;
    border-top: 0.05em solid rgba(0, 0 ,0 , 0.4);
    height: 5.5em;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .column {
        left: 0;
        width: 100%;
        top: 12.5vh;
        display: block;
    }

    .card {
        margin-bottom: 1.25em;
    }
}